<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="em" 
xmlns:n="http://nevow.com/ns/nevow/0.1" n:render="startTimer">
  <head>
    <title>404, Page not Found</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    

    

    <link rel="icon" href="/theme/favicon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="/theme/site.css" title="Theme" />
  </head>

  <body>
    <a class="hidden" href="#content">Skip to content</a>

    <div id="main">
      <div id="content">
<!--
==========================================================================
==========================================================================
CONTENT STARTS HERE
==========================================================================
==========================================================================
-->
        <h2>404, Page not Found</h2>

        <p>We looked hard but can't find the page you requested. 
        <n:invisible n:render="lastLink" />
        </p>

        <img style="display: block; margin: 0 auto; width:480px;" alt="" src="/themes/passion/404.jpg"
        width="480" height="360" />

<!--
==========================================================================
==========================================================================
CONTENT ENDS HERE
==========================================================================
==========================================================================
-->
      </div>

      <div id="footer">
        <p>Copyright © 2004 Blah blah. Written by Valentino "dialtone" Volonghi, theme by Andrea
        "deelan" Peltrin
        <br />

        <a href="http://twistedmatrix.com/">Twisted</a>

        | 
        <a href="http://nevow.org/">Nevow</a>

        | 
        <a href="http://validator.w3.org/check/referer">XHTML</a>

        | CSS3
        <br />

        Page served in: 
        <n:invisible n:render="stopTimer" />

        ms</p>
      </div>
    </div>
  </body>
</html>

