<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
    <div id="content">
         <div class="panel">
            <h2>Sections</h2>
            <p>Manage (create, delete and edit) forum section.</p>            
            
            <p><a href="#">Create a new section</a>.</p>
            
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last changed</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody n:data="Sections" n:render="sequence">
                    <tr n:pattern="item" n:render="section">
                        <td>
                        <n:slot name="title">
                            <a href="#">Section title</a>
                        </n:slot>(
                        <n:slot name="thread_num">YY</n:slot>) 
                        </td>
                        <td>
                            <n:slot name="lastMod">Sep 22, 2004 @ 03:14 PM</n:slot>
                        </td>
                        <td>
                            <a href="edit">Edit</a> &bull; <a onclick="return confirm('Are you sure to delete this section?');" href="delete">Delete</a>
                        </td>                        
                    </tr>
                    <tr class="alt" n:pattern="item" n:render="section">
                        <td>
                        <n:slot name="title">
                            <a href="#">Section title</a>
                        </n:slot>(
                        <n:slot name="thread_num">XX</n:slot>) 
                        </td>
                        <td>
                            <n:slot name="lastMod">Sep 22, 2004 @ 03:14 PM</n:slot>
                        </td>                        
                        <td>
                            <a href="edit">Edit</a> &bull; <a onclick="return confirm('Are you sure to delete this section?');" href="delete">Delete</a>
                        </td>                        
                    </tr>                                    
                    <tr n:pattern="empty">
                        <td colspan="3">Sorry, no sections here.</td>                    
                    </tr>

                    <tr n:pattern="footer" n:render="section">
                        <td>
                            <input type="text" size="30" name="title"/>
                        </td>
                        <td>
                            &nbsp;
                        </td>                        
                        <td>
                            <!-- <a title="Create a new section" href="create">Create</a> -->
                            <input type="submit" name="" value="Create" />
                        </td>                        
                    </tr>  

                </tbody>
            </table>
            <!-- /panel -->
        </div>
   
    </div>
</n:invisible>
