<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>***Titolo thread*** -- Weever</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Weever demo" />
        <link rel="stylesheet" type="text/css" href="/themes/default/site.css" title="" />
    </head>
    <body>
        <a class="hidden" href="#content">Skip to content</a>
        <div id="main">
            <div id="header">
                <h1>
                    <span>Weever</span>
                </h1>
                <p id="tagline"></p>
                <!-- menu -->
                <div id="menu">
                    <ul id="nav">
                        <li>
                            <a title="" href="#">New Topic</a>
                        </li>
                        <li class="sep">
                            <a title="" href="/">Home</a>
                        </li>
                        <li>
                            <a title="" href="#">Register</a>
                        </li>
                        <li>
                            <a title="" href="#">Search</a>
                        </li>
                    </ul>
                </div>
                <!--
<h3>Extra section</h3>
<p>
Blah blah blah...
</p>
-->
                <!-- /menu -->
            </div>
            <!-- content -->
            <div id="content">
                <!--
==========================================================================
==========================================================================
CONTENT STARTS HERE
==========================================================================
==========================================================================
-->
                <div class="panel">
                    <h2>New topic</h2>
                    <n:invisible n:render="form" method="post">
                        <form n:pattern="freeform-form">
                            <n:attr name="action">
                                <n:slot name="form-action" />
                            </n:attr>
                            <n:attr name="id">
                                <n:slot name="form-id" />
                            </n:attr>
                            <n:attr name="name">
                                <n:slot name="form-name" />
                            </n:attr>
                            <n:invisible n:pattern="argument!!title">
                                <!-- <legend>Topic</legend>  -->
                                <label for="title_">Title <span class="error"><n:slot name="error" />Error message here</span></label>
                                <input type="text" />
                            </n:invisible>
                            <n:invisible n:pattern="argument!!content">
                                <label for="content_">Message text <span class="error"><n:slot name="error" />Error message here</span></label>
                                <textarea cols="50" rows="10"></textarea>
                                <p class="help"><a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> formatting rules are supported.</p>
                            </n:invisible>
                            
                            <fieldset n:pattern="argument!!section">Topic will be be created in 
                            <n:slot name="error" />
                            <n:slot name="input" /></fieldset>
                            
                            <!-- <n:slot name="form-arguments"/> -->
                            <fieldset>
                                <n:slot name="argument!!title" />
                                <n:slot name="argument!!content" />
                            </fieldset>
                            <fieldset>
                                <n:slot name="argument!!section" />
                            </fieldset>
                            <fieldset>
                                <n:slot name="form-button" />
                            </fieldset>
                        </form>
                    </n:invisible>
                </div>
                <!--
==========================================================================
==========================================================================
CONTENT ENDS HERE
==========================================================================
==========================================================================
-->
            </div>
            <div id="footer">
                <p>Copyright © 2004 Blah blah. Written by Valentino "dialtone" Volonghi, theme by Andrea "deelan" Peltrin
                <br />
                <a href="http://twistedmatrix.com/">Twisted</a>| 
                <a href="http://nevow.org/">Nevow</a>| XHTML | CSS2</p>
            </div>
        </div>
    </body>
</html>
