<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>New Topic - Weever</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Weever demo" />
<link rel="icon" href="images/favicon.png" type="image/png" />

<link rel="stylesheet" type="text/css" href="/styles/passion/site.css"  title="Passion" />
<link rel="alternate stylesheet" type="text/css" href="styles/nightrider/site.css"  title="Night Rider" />


</head>

<body>
<a class="hidden" href="#content">Skip to content</a>
<div id="main"> 
   
  <div id="header"> 
    <h1>New Topic</h1>
    <p id="tagline"></p>
  </div>


<!-- sidebar -->
<div id="sidebar"> 
<ul id="nav">
    
    <li><a title=""  href="#">New Topic</a></li>    
    
    <li class="sep"><a title="" href="/">Home</a></li>
    <li><a title="" href="#">Register</a></li>
    <li><a title="" href="#">Search</a></li>

</ul>

<!-- /sidebar -->
</div>

  <!-- content -->
  <div id="content"> 

<!--
==========================================================================
==========================================================================
CONTENT STARTS HERE
==========================================================================
==========================================================================
-->
     
    <h2>Start a new topic</h2>
        
    <form action="" method="post">
    
        <fieldset>
            <!-- <legend>Topic</legend>  -->
        
            <label for="title_">Title</label>
            <input type="text" id="title_" name="title" maxlength="70" size="50" value="Re: Donec eu tellus nec risus" />
    
            <label for="content_">Message <span>(Textile formatting rules are supported)</span>
            </label>
    
            <textarea id="content_" name="content" cols="80" rows="8">Your reply here.</textarea>
        </fieldset>
    
        <!--
        <fieldset>
            <legend>Account Info</legend>   
            <label for="title_">Username <span>(required)</span></label>
            <input type="text" id="title_" name="title" maxlength="70" size="50" value="Re:  Donec eu tellus nec risus" />

            <label for="password_">Password</label>
            <input type="password" id="password_" name="password" maxlength="20" size="20" value="secret" />
        </fieldset>
        -->

      <fieldset>
        <input type="submit" name="" value="Post Reply" />

        <input type="submit" name="" value="Preview" />
      </fieldset>
    </form>    
    

<!--
==========================================================================
==========================================================================
CONTENT ENDS HERE
==========================================================================
==========================================================================
-->
  
    </div>

  <div id="footer">
    <p>Copyright &copy; 2004 Blah blah. Written by Valentino "dialtone" Volonghi, theme by Andrea "deelan" Peltrin<br />
    <a href="http://twistedmatrix.com/">Twisted</a> | <a href="http://nevow.org/">Nevow</a> | XHTML | CSS2</p>
  </div>
  
</div>


</body>
</html>

<!-- Page generated on Thu Sep 23 20:06:16 2004 -->