<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
    <div id="content">
        <h2>New topic</h2>
        <form action="_submit!!newtopic" method="post">
            <fieldset>
                <!-- <legend>Topic</legend>  -->
                <label for="title_">Title</label>
                <input type="text" id="title_" name="title" maxlength="70" size="50" value="Title goes here" />
                <label for="content_">Message 
                <span>(Textile formatting rules are supported)</span></label>
                <textarea id="content_" name="content" cols="80" rows="8">Your reply here.</textarea>
            </fieldset>
            <fieldset>Topic will be be created in 
            <select name="section">
                <option value="">---choose---</option>
                <option value="1">Cazzi e Mazzi</option>
            </select></fieldset>
            <fieldset>
                <input type="submit" name="post_btn" value="Post Topic" />
                <input type="submit" name="post_btn" value="Preview" />
            </fieldset>
        </form>
    </div>
</n:invisible>
