<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
xmlns:n="http://nevow.com/ns/nevow/0.1">
  <div id="content">
    <n:invisible n:render="firstTopic">
      <h2 id="topic">       
        Topic: <n:slot name="title">Donec eu tellus nec risus</n:slot>
      </h2>

<!-- /mainTitle -->
      <div class="entry">
        <n:slot name="body">Sed ut enim. Duis vehicula ultrices urna. Pellentesque habitant
        morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse
        platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; Cras mattis placerat magna.</n:slot>

        <p class="datetime">Posted by 
        <a onclick="alert('Link a pagina profilo utente'); return false;" href="">
          <n:attr name="href">
            <n:slot name="userpref" />
          </n:attr>

          <n:slot name="owner">rhoncus</n:slot>
        </a>

        on 
        <n:slot name="when">Thu, Sep 23 2004 @ 09:12 AM</n:slot> 
        &bull;
        <a href="reply.xhtml">
        <n:attr name="href">
          <n:slot name="quote" />
        </n:attr>        
        Quote &amp; Reply</a>
        &bull;
        <a href="edit.xhtml">
        <n:attr name="href">
          <n:slot name="edit" />
        </n:attr>
        Edit</a>
        &bull;
        <a href="permalink.xhtml">
        <n:attr name="href">
          <n:slot name="permalink" />
        </n:attr>
        Permalink</a>    
        </p>
      </div>
    </n:invisible>

      <form style="" method="post" action="">
<!-- <h3>Comment viewing options</h3>  -->
        <h2 id="replies">
        <span>Sort by 
        <select name="order">
          <option value="1" selected="selected">Date - newest first</option>

          <option value="2">Date - oldest first</option>
        </select>

        with 
        <select name="comments_per_page">
          <option value="10">10 comments</option>

          <option value="30">30 comments</option>

          <option value="50" selected="selected">50 comments</option>
        </select>

        per page 
        <input type="submit" name="" value="Apply" />
        </span>

        <n:invisible n:data="numPosts" n:render="repliesnum">2</n:invisible>

        replies</h2>

<!--    <p class="help"><b>Note</b>: Select your preferred way to display the comments and click <i>Change view</i> to activate your changes.</p>  -->
      </form>

<!-- fix me -->
      <p class="help"></p>
      
    <n:invisible n:data="posts" n:render="sequence">
      <div class="entry reply" n:pattern="item" n:render="reply">
        <h3>
        <n:slot name="progression">1</n:slot>.
        <n:slot name="ptitle">A cool hack indeed</n:slot>
        </h3>

        <n:slot name="body">Sed ut enim. Duis vehicula ultrices urna. Pellentesque habitant
        morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </n:slot>

        <p class="datetime">Posted by 
        <a onclick="alert('Link a pagina profilo utente'); return false;" href="">
          <n:attr name="href">
            <n:slot name="userpref" />
          </n:attr>

          <n:slot name="owner">rhoncus</n:slot>
        </a>

        on 
        <n:slot name="when">Thu, Sep 23 2004 @ 09:12 AM</n:slot>
        &bull; 
        <a href="reply.xhtml">
        <n:attr name="href">
          <n:slot name="quote" />
        </n:attr>
        Quote &amp; Reply</a>
        &bull; 
        <a href="edit.xhtml">
        <n:attr name="href">
          <n:slot name="edit" />
        </n:attr>        
        Edit</a>
        &bull;
        <a href="permalink.xhtml">
        <n:attr name="href">
          <n:slot name="permalink" />
        </n:attr>
        Permalink</a>
        </p>

        <div class="picture" n:pattern="image">
          <h4>Attached Picture</h4>
          <img src="images/attached.jpg" width="330" height="405" alt="Attached picture, 17KB" />
        </div>
      </div>

<!-- /item -->
      <hr noshade="noshade" n:pattern="divider" />

      <div class="browser" n:pattern="footer">
      <a href="#">Blah</a>

      • 
      <a href="#">Next 10 Replies »</a>
      </div>
    </n:invisible>

<!-- /data /sequence-->
    <form action="" method="post">
      <h2>Quick reply</h2>

      <fieldset>
        <label for="title_">Title</label>

        <input type="text" id="title_" name="title" maxlength="70" size="50"
        value="Re: Donec eu tellus nec risus" />

        <label for="content_">Message 
        <span>(Textile formatting rules are supported)</span>
        </label>

        <textarea id="content_" name="content" cols="80" rows="8">Your reply here.</textarea>
      </fieldset>

      <fieldset>
        <input type="submit" name="" value="Post Reply" />

        <input type="submit" name="" value="Preview" />
      </fieldset>
    </form>

<!-- /content -->
  </div>
</n:invisible>

