<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
    <div id="content">
        <div class="panel">
            <h2>New topic</h2>
            <n:invisible n:render="form">
                <form n:pattern="freeform-form" method="post">
                    <n:attr name="action">
                        <n:slot name="form-action" />
                    </n:attr>
                    <n:attr name="id">
                        <n:slot name="form-id" />
                    </n:attr>
                    <n:attr name="name">
                        <n:slot name="form-name" />
                    </n:attr>
                    <n:invisible n:pattern="argument!!title">
                        <!-- <legend>Topic</legend>  -->
                        <label for="title_">Title</label>
                        <span class="error">
                            <n:slot name="error" />
                        </span>
                        <n:slot name="input" />
                    </n:invisible>
                    <n:invisible n:pattern="argument!!content">
                        <label for="content_">Message 
                        <span>(reST formatting rules are supported)</span></label>
                        <span class="error">
                            <n:slot name="error" />
                        </span>
                        <n:slot name="input" />
                    </n:invisible>
                    <fieldset n:pattern="argument!!section">Topic will be be created in 
                    <n:slot name="error" />
                    <n:slot name="input" /></fieldset>
                    <!-- <n:slot name="form-arguments"/> -->
                    <fieldset>
                        <n:slot name="argument!!title" />
                        <n:slot name="argument!!content" />
                    </fieldset>
                    <fieldset>
                        <n:slot name="argument!!section" />
                    </fieldset>
                    <fieldset>
                        <n:slot name="form-button" />
                    </fieldset>
                </form>
            </n:invisible>
        </div>
    </div>
</n:invisible>
