<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>***Titolo thread*** -- Weever</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Weever demo" />
        <link rel="stylesheet" type="text/css" href="/themes/passion/site.css" title="" />
    </head>
    <body>
        <a class="hidden" href="#content">Skip to content</a>
        <div id="main">
            <div id="header">
                <h1>
                    <span>Weever</span>
                </h1>
                <p id="tagline"></p>
                <!-- menu -->
                <div id="menu">
                    <ul id="nav">
                        <li>
                            <a title="" href="#">New Topic</a>
                        </li>
                        <li class="sep">
                            <a title="" href="/">Home</a>
                        </li>
                        <li>
                            <a title="" href="#">Register</a>
                        </li>
                        <li>
                            <a title="" href="#">Search</a>
                        </li>
                    </ul>
                </div>
                <!--
<h3>Extra section</h3>
<p>
Blah blah blah...
</p>
-->
                <!-- /menu -->
            </div>
            <!-- content -->
            <div id="content">
                <!--
==========================================================================
==========================================================================
CONTENT STARTS HERE
==========================================================================
==========================================================================
-->
                <div class="topic">
                    <h2>Topic: Donec eu tellus nec risus</h2>
                    <!-- <h2><a title="Permalink for ''" rel="bookmark" href="#c1">Donec eu tellus nec risus</a></h2> -->
                    <p>Sed ut enim. Duis vehicula ultrices urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras mattis placerat magna. Nam tellus erat, dignissim non, nonummy non, sodales non, ipsum. Curabitur rutrum, enim a viverra eleifend, est magna viverra nunc, in fringilla lacus urna id nisl. Nam erat lacus, aliquam eget, ultrices sit amet, molestie vitae, ipsum. Nunc purus erat, rutrum id, rhoncus ut, auctor vitae, tortor.</p>
                    <blockquote>
                        <p>Sed ut enim. Duis vehicula ultrices urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst.</p>
                    </blockquote>
                    <p>Sed ut enim. Duis vehicula ultrices urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst.</p>
                    <p class="datetime">Posted by 
                    <a onclick="alert('Link a pagina profilo utente'); return false;" href="">rhoncus</a>on Thu, Sep 23 2004 @ 09:12 AM &bull; 
                    <a href="reply.xhtml">Quote &amp; Reply</a>&bull; 
                    <a href="edit.xhtml">Edit</a>&bull; 
                    <a href="reply.xhtml">Permalink</a></p>
                    <div class="quick" id="reply123">
                        <form action="" method="POST">
                            <h3>Quote &amp; Reply 
                            <a onclick="document.getElementById('reply123').style.display='none'; return false;" href="#">
                                <img src="/themes/passion/close.png" />
                            </a></h3>
                            <fieldset>
                            
                            <legend>Required information</legend>
                                <label for="title_">Title</label>
                                <input type="text" id="title_" name="title" maxlength="70" size="50" value="Re: Donec eu tellus nec risus" />
                                <label for="content_">Message 
                                <span>(reST formatting rules are supported)</span></label>
                                <textarea id="content_" name="content" cols="80" rows="8">Sed ut enim. Duis vehicula ultrices urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras mattis placerat magna. Your reply here.</textarea>
                            </fieldset>
                            <fieldset>
                                <input type="submit" name="" value="Post Reply" />
                                <!-- <input type="submit" name="" value="Preview" />  -->
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div id="view">
                    <form style="" method="POST" action="">
                    <!-- <h3>Comment viewing options</h3>  -->
                    <h2>2 replies</h2>Sort by 
                    <select name="order">
                        <option value="1" selected="selected">Date - newest first</option>
                        <option value="2">Date - oldest first</option>
                    </select>with 
                    <select name="comments_per_page">
                        <option value="10">10 comments</option>
                        <option value="30">30 comments</option>
                        <option value="50" selected="selected">50 comments</option>
                    </select>per page 
                    <input type="submit" name="" value="Apply" />
                    <!-- <p class="help"><b>Note</b>: Select your preferred way to display the comments and click <i>Apply</i> to activate your changes.</p>   --></form>
                    <div class="topic reply">
                        <h3>1. A cool hack indeed</h3>
                        <p>Pellentesque habitant morbi 
                        <a href="#">tristique senectus</a>et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras mattis placerat magna. Nam tellus erat, dignissim non, nonummy non, sodales non, ipsum. Curabitur rutrum, enim a viverra eleifend, est magna viverra nunc, in fringilla lacus urna id nisl. Nam erat lacus, aliquam eget, ultrices sit amet, molestie vitae, ipsum.</p>
                        <blockquote>
                            <p>Sed ut enim. Duis vehicula ultrices urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras mattis placerat magna. Nam tellus erat, dignissim non, nonummy non, sodales non, ipsum. Curabitur rutrum, enim a viverra eleifend, est magna viverra nunc, in fringilla lacus urna id nisl. Nam erat lacus, aliquam eget, ultrices sit amet, molestie vitae, ipsum. Nunc purus erat, rutrum id, rhoncus ut, auctor vitae, tortor.</p>
                        </blockquote>
                        <p>Pellentesque habitant morbi tristique senectus et 
                        <a href="#">netus et malesuada</a>fames ac turpis egestas. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras mattis placerat magna. Nam tellus erat, dignissim non, nonummy non, sodales non, ipsum. Curabitur rutrum, enim a viverra eleifend, est magna viverra nunc, in fringilla lacus urna id nisl. Nam erat lacus, aliquam eget, ultrices sit amet, molestie vitae, ipsum.</p>
                        <p class="datetime">Posted by 
                        <a onclick="" href="">Rufus</a>on Thu, Sep 23 2004 @ 09:12 AM &bull; 
                        <a href="reply.xhtml">Quote &amp; Reply</a>&bull; 
                        <a href="edit.xhtml">Edit</a>&bull; 
                        <a href="reply.xhtml">Permalink</a></p>
                        <div class="picture">
                            <h4>Attached Picture</h4>
                            <img src="../themes/passion/attached.jpg" width="330" height="405" alt="Attached picture, 17KB" />
                        </div>
                    </div>
                    <hr noshade="noshade" />
                    <div class="topic reply">
                        <h3>2. Re: Donec eu tellus nec risus</h3>
                        <p>Pellentesque habitant morbi 
                        <a href="#">tristique senectus</a>et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras mattis placerat magna. Nam tellus erat, dignissim non, nonummy non, sodales non, ipsum. Curabitur rutrum, enim a viverra eleifend, est magna viverra nunc, in fringilla lacus urna id nisl. Nam erat lacus, aliquam eget, ultrices sit amet, molestie vitae, ipsum.</p>
                        <p class="datetime">Posted by 
                        <a onclick="" href="">Rufus</a>on Thu, Sep 23 2004 @ 09:12 AM &bull; 
                        <a href="edit.xhtml">Quote &amp; Reply</a>&bull; 
                        <a href="edit.xhtml">Edit</a>&bull; 
                        <a href="reply.xhtml">Permalink</a></p>
                    </div>
                    <div class="browser">
                    <a href="#">Blah</a>&bull; 
                    <a href="#">Next 10 Replies »</a></div>
                </div>
                <!--
==========================================================================
==========================================================================
CONTENT ENDS HERE
==========================================================================
==========================================================================
-->
            </div>
            <div id="footer">
                <p>Copyright © 2004 Blah blah. Written by Valentino "dialtone" Volonghi, theme by Andrea "deelan" Peltrin
                <br />
                <a href="http://twistedmatrix.com/">Twisted</a>| 
                <a href="http://nevow.org/">Nevow</a>| XHTML | CSS2</p>
            </div>
        </div>
    </body>
</html>
