<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
   <head>
    <title>Weever</title>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="Weever demo" name="description" />
    <link href="/theme/favicon.png" type="image/png" rel="icon" />
<link rel="stylesheet" type="text/css" href="/themes/passion/site.css"  title="" />
  </head>

  <body>
    <a href="#content" class="hidden">Skip to content</a>

    <div id="main">
      <div id="header">
        <h1><span>Weever</span></h1>
        <!-- <p>The forum of your internet</p>  -->

<!--  menu  -->
      <div id="menu">
        <ul id="nav">
          <li>
            <a href="/newtopic" title="">New Topic</a>
          </li>

          <li class="sep">
            <a href="/" title="">Home</a>

          </li>
          
            <li>
              <a href="
                  http://vercingetorix.dyndns.org:8080/login
                ">
                
              Login</a>
            </li>
          
          <li>
            <a href="/register" title="">Register</a>
          </li>

          <li>
            <a href="#" title="">Search</a>
          </li>
        </ul>

<!--  /menu  -->
      </div>

<!--  /header  -->
      </div>

<!--  content  -->
      
        
  <div id="content">
    <h2>Hot topics</h2>

    <table class="">
      <thead>
        <tr>
          <th>Topic</th>

          <th>Author</th>

          <th>Section</th>

          <th>Last changed</th>
        </tr>
      </thead>

      <tbody><tr>
          <td>
          	<a href="http://vercingetorix.dyndns.org:8080/topic/5">Test5</a>

          	(51)
          
          </td>

          <td>
            mr
          </td>

          <td>
            Intro
          </td>

          <td>
            Sep 24, 2004 @ 12:00 AM
          </td>
        </tr><tr class="alt">
          <td>
          	<a href="http://vercingetorix.dyndns.org:8080/topic/4">Test4</a>

          	(22)
          </td>

          <td>
            mr
          </td>

          <td>
            Sticazzi
          </td>

          <td>
            Sep 24, 2004 @ 12:00 AM
          </td>
        </tr><tr>
          <td>
          	<a href="http://vercingetorix.dyndns.org:8080/topic/3">Test3</a>

          	(33)
          
          </td>

          <td>
            mr
          </td>

          <td>
            Sticazzi
          </td>

          <td>
            Sep 24, 2004 @ 12:00 AM
          </td>

        </tr><tr class="alt">
          <td>
          	<a href="http://vercingetorix.dyndns.org:8080/topic/2">Test2</a>

          	(20)
          </td>

          <td>
            admin
          </td>

          <td>
            Intro
          </td>

          <td>
            Sep 24, 2004 @ 12:00 AM
          </td>
        </tr><tr>
          <td>
          	<a href="http://vercingetorix.dyndns.org:8080/topic/1">Test1</a>

          	(12)
          
          </td>

          <td>
            dialtone
          </td>

          <td>
            Test
          </td>

          <td>
            Sep 24, 2004 @ 12:00 AM
          </td>
        </tr></tbody>
    </table>

    <h2>Sections</h2>

    <table>
      <thead>

        <tr>
          <th>Name</th>

          <th>Last changed</th>
        </tr>
      </thead>

      <tbody><tr>
          <td>

          <a href="http://vercingetorix.dyndns.org:8080/section/3">Sticazzi</a>

          (2) 
 
          <p class="desc">Discussioni con le palle</p>
          </td>

          <td>
            Sep 24, 2004 @ 12:00 AM
          </td>
        </tr><tr class="alt">

          <td>
          <a href="http://vercingetorix.dyndns.org:8080/section/2">Intro</a>

          (2) 
          <p class="desc">Qui ci vanno gli iniziati</p>
          </td>

          <td>
            Sep 24, 2004 @ 12:00 AM
          </td>

        </tr><tr>
          <td>
          <a href="http://vercingetorix.dyndns.org:8080/section/1">Test</a>

          (1) 
 
          <p class="desc">Qua si fanno tante belle prove prove</p>
          </td>

          <td>

            Sep 24, 2004 @ 12:00 AM
          </td>
        </tr></tbody>
    </table>
  </div>

      

      <div id="footer">
        <p>Copyright © 2004 Valentino "dialtone" Volonghi and Andrea "deelan" Peltrin
        <br />

        <a href="http://twistedmatrix.com/">Twisted</a>

        | 
        <a href="http://nevow.org/">Nevow</a>

        | 
        <a href="http://validator.w3.org/check/referer">XHTML</a>

        | CSS3 
        <br />

        Page served in: 
        827

        ms</p>

      </div>
    </div>
  </body>
</html>