<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Weever</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/themes/bbsux/site.css"  title="BB Sux" />
</head>
<body>
<a class="hidden" href="#content">Skip to content</a> 
<div id="main"> 
  <div id="header"> 
    <h1><span>Weever</span></h1>
    <p id="tagline"></p>

  <!-- menu -->
  <div id="menu"> 
    <ul id="nav">
      <li><a title=""  href="#">New Topic</a></li>
      <li class="sep"><a title="" href="/">Home</a></li>
      <li><a title="" href="#">Register</a></li>
      <li><a title="" href="#">Search</a></li>
    </ul>
    
  </div>    
    <!--
<h3>Extra section</h3>
<p>
Blah blah blah...
</p>
-->
    <!-- /menu -->
  </div>
  <!-- content -->
  <div id="content"> 
    <!--
==========================================================================
==========================================================================
CONTENT STARTS HERE
==========================================================================
==========================================================================
-->
    <h2>Hot topics</h2>
    <table class="">
      <thead>
        <tr> 
          <th>Title</th>
          <th>Section</th>
          <th>Author</th>
          <th>Last changed</th>
        </tr>
      </thead>
      <tbody class="">
        <tr> 
          <td><a href="topic.html">Donec eu tellus nec risus</a> (3)</td>
          <td>Room 6</td>
          <td>rhoncus</td>
          <td>Sep 22, 2004 @ 03:14 PM</td>
        </tr>
        <tr class="alt"> 
          <td><a href="http://example.org">Ut sagittis urna id nulla</a></td>
          <td>Help</td>
          <td>pharetra</td>
          <td>Sep 21, 2004 @ 12:14 PM</td>
        </tr>
        <tr> 
          <td><a href="http://example.com">Vivamus rhoncus pharetra massa.</a> 
            (16)</td>
          <td>Room 6</td>
          <td>risus</td>
          <td>Sep 19, 2004 @ 03:14 PM</td>
        </tr>
        <tr class="alt"> 
          <td>Ut sagittis urna id nulla</td>
          <td>Misc</td>
          <td>pharetra</td>
          <td>Sep 21, 2004 @ 03:14 PM</td>
        </tr>
        <tr> 
          <td><a href="http://example.com">Vivamus rhoncus pharetra massa.</a> 
            (16)</td>
          <td>Misc</td>
          <td>risus</td>
          <td>Sep 19, 2004 @ 03:14 PM</td>
        </tr>
        <tr class="alt"> 
          <td>Ut sagittis urna id nulla</td>
          <td>Misc</td>
          <td>pharetra</td>
          <td>Sep 21, 2004 @ 03:14 PM</td>
        </tr>
        <tr> 
          <td><a href="topic.html">Donec eu tellus nec risus</a> (3)</td>
          <td>Room 6</td>
          <td>rhoncus</td>
          <td>Sep 22, 2004 @ 03:14 PM</td>
        </tr>
        <tr class="alt"> 
          <td><a href="http://example.org">Ut sagittis urna id nulla</a></td>
          <td>Room 6</td>
          <td>pharetra</td>
          <td>Sep 21, 2004 @ 12:14 PM</td>
        </tr>
      </tbody>
    </table>
    <h2>Sections</h2>
    <table class="">
      <thead>
        <tr> 
          <th>Title</th>
          <th>Last changed</th>
        </tr>
      </thead>
      <tbody class="">
        <tr> 
          <td> <a href="section.html">Donec eu tellus nec risus </a>(255) 
            <p class="desc">Breve descrizione delle sezione... </p></td>
          <td>Sep 22, 2004 @ 03:14 PM</td>
        </tr>
        <tr class="alt"> 
          <td><a href="#">Nec risus</a> (89) 
            <p class="desc">Breve descrizione delle sezione... </p></td>
          <td>Sep 22, 2004 @ 03:14 PM</td>
        </tr>
      </tbody>
    </table>
    <!--
==========================================================================
==========================================================================
CONTENT ENDS HERE
==========================================================================
==========================================================================
-->
  </div>
  <div id="footer"> 
    <p>Copyright &copy; 2004 Blah blah. Written by Valentino "dialtone" Volonghi, 
      theme by Andrea "deelan" Peltrin<br />
      <a href="http://twistedmatrix.com/">Twisted</a> | <a href="http://nevow.org/">Nevow</a> 
      | XHTML | CSS2</p>
  </div>
</div>
</body>
</html>
