<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>***Nome utente*** - Weever</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Weever demo" />
<link rel="icon" href="/theme/favicon.png" type="image/png" />
<link rel="stylesheet" type="text/css" href="/theme/site.css"  title="Theme" />



</head>

<body>
<a class="hidden" href="#content">Skip to content</a>
<div id="main"> 
   
  <div id="header"> 
    <h1>User: deelan</h1>
    <p id="tagline"></p>
  </div>


<!-- menu -->
<div id="menu"> 
<ul id="nav">
    
    <li><a title=""  href="#">New Topic</a></li>    
    
    <li class="sep"><a title="" href="/">Home</a></li>
    <li><a title="" href="#">Register</a></li>
    <li><a title="" href="#">Search</a></li>

</ul>

<!-- /menu -->
</div>

<!--
==========================================================================
==========================================================================
CONTENT STARTS HERE
==========================================================================
==========================================================================
-->
     

  <!-- content -->
  <div id="content"> 


    <h2>Account info</h2>
        
    <form action="" method="post">
    
        <fieldset>

        
            <label for="title_">Display Name <span>(required)</span></label>
            <input type="text" id="title_" name="title" maxlength="70" size="50" value="Andrea Peltrin" />
        
        
            <label for="title_">Username <span>(required)</span></label>
            <input type="text" id="title_" name="title" maxlength="70" size="50" value="Re:  Donec eu tellus nec risus" />

            <label for="password_">Password</label>
            <input type="password" id="password_" name="password" maxlength="20" size="20" value="secret" />

            <label for="password_">Confirm Password</label>
            <input type="password" id="password_" name="password2" maxlength="20" size="20" value="secret" />

        </fieldset>
    
        <fieldset>    
            <input type="submit" name="" value="Save changes" /> 
        </fieldset>
    
    </form>    
    

    </div>

<!--
==========================================================================
==========================================================================
CONTENT ENDS HERE
==========================================================================
==========================================================================
-->
  <div id="footer">
    <p>Copyright &copy; 2004 Blah blah. Written by Valentino "dialtone" Volonghi, theme by Andrea "deelan" Peltrin<br />
    <a href="http://twistedmatrix.com/">Twisted</a> | <a href="http://nevow.org/">Nevow</a> | XHTML | CSS2</p>
  </div>
  
</div>


</body>
</html>

<!-- Page generated on Thu Sep 23 20:06:16 2004 -->
