<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>***Titolo sezione*** -- Weever</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Weever demo" />
        <link rel="icon" href="/theme/favicon.png" type="image/png" />
        <link rel="stylesheet" type="text/css" href="/theme/site.css" title="Theme" />
    </head>
    <body>
        <a class="hidden" href="#content">Skip to content</a>
        <div id="main">
            <div id="header">
                <h1>Nome sezione #1</h1>
                <p id="tagline"></p>
            </div>
            <!-- menu -->
            <div id="menu">
                <ul id="nav">
                    <li>
                        <a title="" href="/">Home</a>
                    </li>
                    <li>
                        <a title="" href="#">Register</a>
                    </li>
                    <li>
                        <a title="" href="#">Search</a>
                    </li>
                    <li>
                        <a title="" href="#">New Topic</a>
                    </li>
                </ul>
                <!-- /menu -->
            </div>
            <!--
==========================================================================
==========================================================================
CONTENT STARTS HERE
==========================================================================
==========================================================================
-->
            <div id="content">
                <table class="">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Author</th>
                            <th>Last changed</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr>
                            <td>
                            <a href="topic.xhtml">Donec eu tellus nec risus</a>(3)</td>
                            <td>rhoncus</td>
                            <td>Sep 22, 2004 @ 03:14 PM</td>
                        </tr>
                        <tr class="alt">
                            <td>
                                <a href="http://example.org">Ut sagittis urna id nulla</a>
                            </td>
                            <td>pharetra</td>
                            <td>Sep 21, 2004 @ 12:14 PM</td>
                        </tr>
                        <tr>
                            <td>
                            <a href="http://example.com">Vivamus rhoncus pharetra massa.</a>(16)</td>
                            <td>risus</td>
                            <td>Sep 19, 2004 @ 03:14 PM</td>
                        </tr>
                        <tr class="alt">
                            <td>Ut sagittis urna id nulla</td>
                            <td>pharetra</td>
                            <td>Sep 21, 2004 @ 03:14 PM</td>
                        </tr>
                        <tr>
                            <td>
                            <a href="http://example.com">Vivamus rhoncus pharetra massa.</a>(16)</td>
                            <td>risus</td>
                            <td>Sep 19, 2004 @ 03:14 PM</td>
                        </tr>
                        <tr class="alt">
                            <td>Ut sagittis urna id nulla</td>
                            <td>pharetra</td>
                            <td>Sep 21, 2004 @ 03:14 PM</td>
                        </tr>
                        <tr>
                            <td>
                            <a href="topic.html">Donec eu tellus nec risus</a>(3)</td>
                            <td>rhoncus</td>
                            <td>Sep 22, 2004 @ 03:14 PM</td>
                        </tr>
                        <tr class="alt">
                            <td>
                                <a href="http://example.org">Ut sagittis urna id nulla</a>
                            </td>
                            <td>pharetra</td>
                            <td>Sep 21, 2004 @ 12:14 PM</td>
                        </tr>
                    </tbody>
                </table>
                <hr noshade="noshade" />
            </div>
            <!--
==========================================================================
==========================================================================
CONTENT ENDS HERE
==========================================================================
==========================================================================
-->
            <div id="footer">
                <p>Copyright © 2004 Blah blah. Written by Valentino "dialtone" Volonghi, theme by Andrea "deelan" Peltrin
                <br />
                <a href="http://twistedmatrix.com/">Twisted</a>| 
                <a href="http://nevow.org/">Nevow</a>| XHTML | CSS2</p>
            </div>
        </div>
    </body>
</html>
<!-- Page generated on Thu Sep 23 20:06:16 2004 -->
