<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="em" xmlns:n="http://nevow.com/ns/nevow/0.1" n:render="startTimer">
    <head>
        <title>Message</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Weever demo" />
        <link rel="icon" href="/theme/favicon.png" type="image/png" />
        <link rel="stylesheet" type="text/css" href="/themes/passion/site.css" title="Theme" />
        <style type="text/css">/* temp hack */ html {background-image: none; }</style>
    </head>
    <body>
        <div id="alert">
            <p>Your error message goes here.</p>
            <p>
                <a href="#">Continue</a>
            </p>
        </div>
    </body>
</html>
