<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<n:invisible xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:n="http://nevow.com/ns/nevow/0.1">
  <div id="content"> 
    <h2>Please enter your username and password to log in</h2>
        
    <form action="__login__" method="post">
    
        <fieldset>
            <!-- <legend>Auth requires</legend>  -->
        
            <label for="username_">Username</label>
            <input type="text" id="username_" name="username" maxlength="20" size="20" value="" />

            <label for="password_">Password</label>
            <input type="password" id="password_" name="password" maxlength="20" size="20" value="" />
    
        </fieldset>
    
      <fieldset>
        <input type="submit" name="" value="Log in" />
      </fieldset>
    </form>    
  </div>
</n:invisible>
